#Table1, .launcher-modal {
    display: none;
}

input[type=submit] {
    cursor: pointer;
    padding: 12px 40px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    border: 4px solid rgb(55, 89, 215);
    color: #fff;
    background: rgb(55, 89, 215);
    transition: none;
}

input[type=submit]:hover {
    background: transparent;
    color: rgb(55, 89, 215);    
}